<div class="container-fluid">
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="col-md-3 mb-2 mb-md-0">
			<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
				<img src="{{ asset('build/images/logo.png') }}" alt="Logo Green & Clean" height="60">
			</a>
		</div>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="col-md-6 d-flex align-items-center justify-content-center">
			<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li>
					<a href="{{ path('app_home') }}" class="nav-link px-2 link-secondary">Accueil</a>
				</li>
				<li>
					<a href="{{ path('app_projets') }}" class="nav-link px-2">Projets</a>
				</li>
				<li>
					<a href="{{ path('app_about') }}" class="nav-link px-2">A propos</a>
				</li>
				<li>
					<a href="{{ path('app_contact') }}" class="nav-link px-2">Contact</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('admin_dashboard') }}" class="nav-link px-2">Admin</a>
					</li> 
				{% endif %}

				{% if is_granted('ROLE_USER') %}
					<li>
						<a href="{{ path('user_dashboard') }}" class="nav-link px-2">Profil</a>
					</li> 
				{% endif %}

				{% if app.user %}
					<li>
						<a href="{{ path('app_logout') }}" class="nav-link px-2 text-danger">Déconnexion</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_register') }}" class="nav-link px-2">S'inscrire</a>
					</li>
					<li>
						<a href="{{ path('app_login') }}" class="nav-link px-2">Se connecter</a>
					</li>
				{% endif %}
			</li>
		</ul>
	</div>
</header></div>
